<div class="forgot-password-component-div" fxLayout fxLayoutAlign="center center">
  <mat-card class="forgot-password-card">
    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-toolbar fxFlexOrder="1">
        <span>
          <img id="company-logo" src="../../assets/white_logo.png" alt="img" width="160" height="40.7" />
        </span>
        <span fxFlex></span>
        <span fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="start start">
          <label fxFlex fxFlexFill>Forgot Password</label>
          <label class="mat-small" fxFlex fxFlexFill fxLayoutAlign="end start">Live chat</label>
        </span>
      </mat-toolbar>
      <form class="forgot-password-form" fxFlexOrder="2" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordFormSubmit()">
        <div fxLayout="column" fxFlexAlign="start start">
          <div fxFlexOrder="1" class="forgot-password-form-content">
            <mat-form-field class="forgot-password-full-width">
              <input matInput placeholder="Email" formControlName="emailFormControl" tabindex="1">
              <mat-error *ngIf="email.invalid || (email.dirty || email.touched)">
                <label *ngIf="email.hasError('email')">Please enter a valid email address</label>
                <label *ngIf="email.hasError('required')">Email is <strong>required</strong></label>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlexOrder="2" fxFlex fxFlexFill>
            <div class="forgot-password-form-action-panel" fxLayout="row" fxLayoutAlign="start start">
              <div fxFlex fxLayoutAlign="end start">
                <button type="submit" mat-raised-button color="primary" tabindex="3">Forgot</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-card>  
</div>
